@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
*{margin:0px; padding: 0px; box-sizing: border-box ;}
body{font-family: "Roboto", sans-serif;}
#root{zoom:100%;}
.container-fluid{padding: 8px 25px;}
.cursor{cursor: pointer;}
.bg-g,.bg-success{background: #0fcad3 !important;}
.text-g{color: #0b8eec;}